.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-left {
    justify-content: left;
}

.justify-center {
    justify-content: center;
}

.justify-flex-end{
    justify-content: flex-end;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.flex-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-none{
    flex: none
}
